.group-container {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 20px 0px;
  min-width: 700px;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  user-select: none;
  background-color: white;
  box-shadow: gray 1px 1px;
}

.group-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  background-color: rgba(211, 211, 211, 0.281);
  padding: 20px;
  margin: 0px 200px;
  border-radius: 10px 10px 0 0;
  min-width: 730px;
}

.group-container img {
  margin-right: 20px;
  height: 140px;
  width: 140px;
  border-radius: 100px;
  float: left;
}

.header-container img {
  height: 180px;
  width: 180px;
  align-self: center;
  margin: 20px;
  border-radius: 10000px;
}

.group-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0px 200px;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  min-width: 600px;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

.group-main-info {
  margin: 5px 5px 20px 5px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  user-select: none;
}

.group-name-title {
  margin: 10px;
  font-size: 60px;
  color: white;
  display: inline-block;
  user-select: none;
  margin-top: auto;
  text-shadow: 1px 1px rgb(18, 156, 0);
}

.match-button {
  align-self: center;
  text-align: center;
  width: 100px;
  padding: 10px;
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
  background-color: grey;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border: none;
  background-color: #033e46;
  color: white;
}

.button {
  cursor: pointer;
}

.group-list h2 {
  margin: 0px 0px 20px 0px;
  user-select: none;
}

.group-desc {
  align-self: center;
  width: 600px;
  user-select: none;
  text-align: left;
}

.interest-box {
  margin: 2px;
  padding: 3px;
  border-radius: 4px;
  user-select: none;
  color: black;
  cursor: pointer;
}

.icon {
  cursor: pointer;
}

.create-group-btn {
  width: 100%;
  margin: 10px 0 10px 0;
  background-color: #033e46;
}

.select-group-header {
  width: 720px;
}

.select-group-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-group-description {
  font-weight: normal;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 0px 0px 0px;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  user-select: none;
  background-image: linear-gradient(to left, #2eaf7eb0, #2eaf7d);
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-radius: 15px;
  user-select: none;
  margin: 20px 20px 0 0;
}

.description-container {
  min-height: 135px;
  overflow-y: scroll;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20px 0px 20px 20px;
  padding: 10px;
  border-radius: 15px;
  user-select: none;
  outline: 1px solid black;
  overflow-y: scroll;
  max-height: 300px;
}

.review-small {
  outline: 1px solid grey;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  pointer-events: none;
}

.boxes-container {
  display: flex;
}

.info-container {
  display: flex;
  width: auto;
  flex-direction: column;
  margin: 0px 0px 20px 0px;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  user-select: none;
  background-color: white;
  outline: 1px solid black;
}

.create-btn {
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  color: rgb(228, 10, 10);
  cursor: pointer;
  background-color: #033e46;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  box-shadow: 1px 1px black;
}

.skjalgsittbilde {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.center {
  margin: auto;
}

.your-group-matches-header {
  margin: 20px 0 20px 0;
}

.flex-center {
  display: flex;
  justify-content: center;
}
