.group-container {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 20px 0px;
  min-width: 700px;
  max-width: 800px;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  user-select: none;
  background-color: white;
  box-shadow: gray 1px 1px;
}

.group-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  background-color: rgba(211, 211, 211, 0.281);
  padding: 20px;
  margin: 0px 200px;
  border-radius: 10px 10px 0 0;
  min-height: 100vh;
}

.group-container img {
  margin-right: 20px;
  height: 120px;
  width: 120px;
  border-radius: 100px;
  float: left;
}

.group-page img {
  height: 180px;
  width: 180px;
  align-self: center;
  margin: 20px;
  border-radius: 10000px;
}

.group-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0px 200px;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  min-height: 100vh;
  min-width: 600px;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

.group-main-info {
  margin: 5px 200px 20px 200px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  user-select: none;
}

.group-name-title {
  margin: 10px;
  font-size: 60px;
  color: white;
  display: inline-block;
  user-select: none;
  margin-top: auto;
  text-shadow: 1px 1px black;
  
}

.match-button {
  align-self: center;
  text-align: center;
  width: 100px;
  padding: 10px;
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
  background-color: grey;
  color: #033e46;
  font-size: 15px;
  cursor: pointer;
  border: none;
}

.edit-button {
  align-self: flex-end;
  text-align: center;
  width: 70px;
  padding: 10px;
  border-radius: 10px;
  background-color: lightgray;
}

.button {
  cursor: pointer;
}

.group-list h2 {
  margin: 0px 0px 20px 0px;
  user-select: none;
}

.group-desc {
  align-self: center;
  width: 600px;
  user-select: none;
  text-align: left;
}

.interest-box {
  margin: 2px;
  padding: 3px;
  border-radius: 4px;
  user-select: none;
  color: black;
  cursor: pointer;
}

.icon {
  cursor: pointer;
}

.create-group-btn {
  width: 100%;
  margin: 10px 0 10px 0;
}

.select-group-header {
  width: 720px;
}

.select-group-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-group-description {
  font-weight: normal;
}

.header-container {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px 0px;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  user-select: none;
  background-image: linear-gradient(to left, #2eaf7eb0,#2eaf7d);
 
 
}
.under-container {
  display: flex;
  flex-direction: row;
  margin: 20px 20px 20px 20px;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  user-select: none;
  background-color: white;
  
}
.left-container {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  width: 50%;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  user-select: none;
  background-color: white;
  

}
.right-container {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  width: 50%;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  user-select: none;
  background-color: white;

}
.members-container {
  display: flex;
  width: auto;
  height: 50%;
  flex-direction: column;
  margin: 0px 0px 20px 0px;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  user-select: none;
  background-color: white;
  box-shadow: 1px 1px 1px 1px black;
}
.interests-container {
  display: flex;
  width: auto;
  height: 50%;
  flex-direction: column;
  margin: 0px 0px 20px 0px;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  user-select: none;
  background-color: white;
  box-shadow: 1px 1px 1px 1px black;
  
}
.info-container {
  display: flex;
  width: auto;
  height: 100%;
  flex-direction: column;
  margin: 0px 0px 20px 0px;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  user-select: none;
  background-color: white;
  box-shadow: 1px 1px 1px 1px black;
  
 }

.create-btn{
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  color: white;
  cursor: pointer;
  background-color: #033e468c;
  margin :10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
}

.skjalgsittbilde{
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

