.review-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

.review-form textarea {
  min-height: 30vh;
}

.review-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
