.app-container {
  background-color: #fafafa;
  min-height: 100vh;
}
.bold {
  font-weight: bold;
}

footer {
  display: flex;
  align-self: center;
  justify-self: flex-end;
  padding: 20px 0 20px 0;
  width: 100%;
  background-color: blue;
  color: white;
}

.footer-text {
  margin: 20px;
}

.header {
  margin: 0px 0 30px 0;
  padding: 20px 40px 20px 40px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  margin-left: 10px;
  user-select: none;
}

.header-login-container {
  display: flex;
  align-items: center;
}

.router-link {
  text-decoration: none;
  color: black;
  display: flex;
}

.header-btn {
  margin: 10px;
}

.header-login-container h3 {
  margin-right: 10px;
}

.header-group-container {
  display: flex;
  align-items: center;
  margin: 0 20px 0 20px;
  cursor: pointer;
}

.header-group-container p {
  margin-left: 5px;
}
